@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica'; 
  src: url('/src/assets/fonts/Helvetica.ttf') format('truetype');
  /* src: url('./assets/fonts/mi-fuente.otf') format('opentype'); Ruta al archivo OTF 
  */
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}

@font-face {
  font-family: 'aegis1e'; 
  src: url('/src/assets/fonts/aegis1e.ttf') format('truetype');
  font-weight: normal; 
  font-style: normal; 
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
}

body {
  min-height: 100vh;
  font-family: sans-serif; 
  background-color: #232323;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #212121;
  overflow: hidden;
}

.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 45;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #8c8c8c;
  top: 50%;
  left: 5%;
  animation-duration: 19s;
  animation-delay: -37s;
  transform-origin: 9vw 3vh;
  box-shadow: 40vmin 0 5.09619751201667vmin currentColor;
}
.background span:nth-child(1) {
  color: #bab8bc;
  top: 45%;
  left: 88%;
  animation-duration: 29s;
  animation-delay: -20s;
  transform-origin: -21vw 12vh;
  box-shadow: -40vmin 0 5.89813045061966vmin currentColor;
}
.background span:nth-child(2) {
  color: #bab8bc;
  top: 81%;
  left: 58%;
  animation-duration: 53s;
  animation-delay: -47s;
  transform-origin: 19vw 7vh;
  box-shadow: -40vmin 0 5.13805572862957vmin currentColor;
}
.background span:nth-child(3) {
  color: #a6a6a6;
  top: 43%;
  left: 9%;
  animation-duration: 8s;
  animation-delay: -10s;
  transform-origin: 10vw 16vh;
  box-shadow: -40vmin 0 5.488263369082498vmin currentColor;
}
.background span:nth-child(4) {
  color: #a6a6a6;
  top: 94%;
  left: 90%;
  animation-duration: 10s;
  animation-delay: -28s;
  transform-origin: -8vw -4vh;
  box-shadow: 40vmin 0 5.890565253874135vmin currentColor;
}
.background span:nth-child(5) {
  color: #a6a6a6;
  top: 8%;
  left: 54%;
  animation-duration: 21s;
  animation-delay: -29s;
  transform-origin: -5vw -12vh;
  box-shadow: 40vmin 0 5.5799556716966645vmin currentColor;
}
.background span:nth-child(6) {
  color: #bab8bc;
  top: 80%;
  left: 53%;
  animation-duration: 29s;
  animation-delay: -1s;
  transform-origin: 1vw 5vh;
  box-shadow: -40vmin 0 5.073197250279873vmin currentColor;
}
.background span:nth-child(7) {
  color: #a6a6a6;
  top: 53%;
  left: 94%;
  animation-duration: 9s;
  animation-delay: -48s;
  transform-origin: -14vw -8vh;
  box-shadow: 40vmin 0 5.6431609111510745vmin currentColor;
}
.background span:nth-child(8) {
  color: #bab8bc;
  top: 83%;
  left: 54%;
  animation-duration: 50s;
  animation-delay: -21s;
  transform-origin: 0vw -15vh;
  box-shadow: 40vmin 0 5.9902202692549364vmin currentColor;
}
.background span:nth-child(9) {
  color: #bab8bc;
  top: 27%;
  left: 53%;
  animation-duration: 25s;
  animation-delay: -15s;
  transform-origin: 21vw 10vh;
  box-shadow: 40vmin 0 5.008707445619181vmin currentColor;
}
.background span:nth-child(10) {
  color: #a6a6a6;
  top: 96%;
  left: 73%;
  animation-duration: 37s;
  animation-delay: -18s;
  transform-origin: -19vw -19vh;
  box-shadow: 40vmin 0 5.616481377275966vmin currentColor;
}
.background span:nth-child(11) {
  color: #a6a6a6;
  top: 96%;
  left: 86%;
  animation-duration: 51s;
  animation-delay: -33s;
  transform-origin: -9vw -12vh;
  box-shadow: -40vmin 0 5.24569324218743vmin currentColor;
}
.background span:nth-child(12) {
  color: #a6a6a6;
  top: 97%;
  left: 6%;
  animation-duration: 9s;
  animation-delay: -30s;
  transform-origin: 25vw -14vh;
  box-shadow: 40vmin 0 5.463777153161276vmin currentColor;
}
.background span:nth-child(13) {
  color: #a6a6a6;
  top: 51%;
  left: 70%;
  animation-duration: 27s;
  animation-delay: -47s;
  transform-origin: -16vw 3vh;
  box-shadow: -40vmin 0 5.483337385902927vmin currentColor;
}
.background span:nth-child(14) {
  color: #a6a6a6;
  top: 35%;
  left: 86%;
  animation-duration: 10s;
  animation-delay: -48s;
  transform-origin: 0vw 22vh;
  box-shadow: 40vmin 0 5.272224758774653vmin currentColor;
}
.background span:nth-child(15) {
  color: #8c8c8c;
  top: 13%;
  left: 93%;
  animation-duration: 39s;
  animation-delay: -35s;
  transform-origin: 13vw -7vh;
  box-shadow: 40vmin 0 5.031140551707814vmin currentColor;
}
.background span:nth-child(16) {
  color: #a6a6a6;
  top: 48%;
  left: 43%;
  animation-duration: 12s;
  animation-delay: -29s;
  transform-origin: 18vw -21vh;
  box-shadow: 40vmin 0 5.950108843187476vmin currentColor;
}
.background span:nth-child(17) {
  color: #a6a6a6;
  top: 14%;
  left: 7%;
  animation-duration: 8s;
  animation-delay: -20s;
  transform-origin: 6vw -15vh;
  box-shadow: 40vmin 0 5.403576114776185vmin currentColor;
}
.background span:nth-child(18) {
  color: #8c8c8c;
  top: 36%;
  left: 30%;
  animation-duration: 25s;
  animation-delay: -31s;
  transform-origin: -16vw 7vh;
  box-shadow: 40vmin 0 5.195222228664546vmin currentColor;
}
.background span:nth-child(19) {
  color: #a6a6a6;
  top: 15%;
  left: 66%;
  animation-duration: 41s;
  animation-delay: -35s;
  transform-origin: -12vw 11vh;
  box-shadow: -40vmin 0 5.6315749084690365vmin currentColor;

  
}

